#home {
    .card {
        height: 350px;
        figure {
            height: 200px;

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
}
